@media screen and (max-width:1024px){
	.about-single{
		padding: 27px 100px;
	}
	.blog-text{
		width:65%;
	}
	.testimonial-content p{
		padding-right:10%;
	}
}
@media screen and (max-width:768px){
	
	.navbar-nav>li{
		margin-left:5px;
	}
	.carousel-caption{
		padding-bottom:0;
	}
	.carousel-caption h2{
		font-size:50px;
		margin-bottom:15px;
	}
	.carousel-caption p{
		margin-bottom:40px;
	}
	.testimonial-content p{
		padding-right:15%;
	}
	.blog-single-content img{
		width:70%;
		margin:0 auto;
	}
}
@media screen and (max-width:480px){
	.carousel-caption h2{
		font-size:30px;
		margin-bottom:5px;
	}
	.carousel-caption p{
		margin-bottom:10px;
		font-size:14px;
	}
	.carousel-caption .btn{
		height:30px;
		padding:0;
		font-size:14px;
	}
	.carousel-inner>.item>img{
		height:400px;
	}
	.about-single{
		padding: 0px 100px;
		margin:20px;
	}
	.about-single h3{
		padding:15px 0;
	}
	.about-single p{
		padding-bottom:5px;
	}
	.projects-counter h3{
		margin-top:0;
		margin-bottom:20px;
	}
	.isotope-filters  button{
		padding:0 5px;
	}
	.carousel-indicators li{
		margin-left:15px;
	}
	.carousel-indicators .active {
		margin-left:15px;
	}
}