*{
	margin:0;
	padding:0;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 
body{
	font-family: 'Josefin Sans', sans-serif;
}
p{
	font-size:17px;
}
.margin-top{
	margin-top:85px;
}
.margin-bottom{
	margin-bottom:30px;
}
.padding-zero{
	padding-right:0;
	padding-left:0;
}
.nopadding{
	margin:0;
	padding:0;
}
.margin-none{
	margin-left:0;
	margin-right:0;
}

.section_heading{
	padding-top:104px;
	padding-bottom:60px;
	text-align:center;
}
.section_heading h2{
	font-size:36px;
	font-weight:bold;
	color:#000000;
	border-bottom:3px solid #f3d111;
	padding-bottom: 15px;
	max-width:175px;
	margin:0 auto;
	
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
	
}


/* logo
============ */
.logo{
	margin-top:20px;
}
/* menu
============ */
.navbar-right{
	margin-top:30px;
}
.navbar-nav>li {
    float: left;
    margin-left: 40px;
}
.navbar-default .navbar-nav>li>a {
    color: #000000;
	text-transform:uppercase;
	font-weight:bold;
}
.navbar-default .navbar-nav>li>a:focus{
	color:#000000;
} 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.active
 {
    color: #6dbeba;
}
.search_icon{
	position:absolute;
	right:0;
	margin-top:15px;
}
/* slider section
=================== */

.carousel-caption{
	text-align:left;
	left:9%;
	text-shadow:none;
	padding-bottom:135px;

}
.carousel-caption h2{
	color:#f3d111;
	margin-bottom:50px;
	font-size:72px;
}
.carousel-caption p{
	max-width:522px;
	color:#7f8181;
	margin-bottom:50px;
	font-size:18px;
	padding-left:0;
}

.btn-default:hover{
	background-color:#ffffff;
}
.carousel-caption .btn{
	font-size:16px;
	color:#f3d111;
	width:140px;
	height:40px;
	border:3px solid #f3d111;
	
}
.carousel-caption .btn:hover{
	color:#ffffff;
	background:#f3d111;
}
.carousel-control.left,
.carousel-control.right {
	background-image:none;
}
.carousel-control i{
	position:absolute;
	top:48%;
	opacity:0;
	transition:.5s;
	color:#000000;
}
.carousel-control.left i{
	left:10px;
}
.carousel-control.right i{
	right:10px;
}
.slider:hover .carousel-control i{
	opacity:1;
} 
/* skill section
=================== */

.skill{
	background:#fdfdfd;
}
.skill_single img{
	width:100%;
}
.skill_single h3{
	text-transform:uppercase;
	font-size:10px;
	color:#000000;
	border-bottom:none;
	margin-bottom:0;

}

.progress{
	border-radius: 0;
	box-shadow:none;
}

.panel-default>
.panel-heading{
	background:transparent;
	height:50px;
	
}

.panel-heading:hover{
	color:#d9534f;
}
.panel-heading i{
	font-size:25px;
	float:left;
	padding-right:15px;

}
.panel-heading h4{
	font-size:14px;
	
}	

.panel-title {
    margin-top: 7px;
}

.panel-title a{
	text-decoration:none;
	display:block;
}
.panel-title a:after{
	content:"\f068";
	font:10px fontAwesome;
	float:right;
}
.panel-title .collapsed:after{
	content:"\f067";
	font:10px fontAwesome;
	float:right;
	
}
/* About section
==================== */
.about-content{
	
}
.about-text img {
	width:100%;
	height:400px;
}
.about-single{
	height:400px;
	background:#f9f9f9;
	text-align:center;
	margin:0 auto;
	padding:75px 100px;
	
}
.about-single h3{
	font-size:24px;
	color:#000000;
	max-width:420px;
	padding-bottom:30px;
}
.about-single p{
	max-width:690px;
	color:#939393;
	padding-bottom:20px;
	
}
.about-single .btn{
	font-size:16px;
	width:140px;
	height:40px;
	color:#ffffff;
	background:#f3d111;
	
}

/* team section
================= */
.heading{
	
	margin-top:104px;
	padding-bottom:30px;
	text-align:center;
}
.heading h2{
	font-size:36px;
	font-weight:bold;
	color:#000000;
	border-bottom:3px solid #f3d111;
	padding-bottom: 15px;
	max-width:175px;
	margin:0 auto;
}
.section_heading_p{
	text-align:center;
	color:#a0a0a0;
	max-width:680px;
	margin:0 auto;
	padding-bottom:55px;
}
.team {
	background:#edecec;
}
.team_content{
	padding-bottom:120px;
}
.team_single{
	position:relative;
}
.team_single image{
	width:100%;
	float:left;
}
.team_single h3{
	position: absolute;
    font-size: 20px;
    color: #ffffff;
    bottom: 10px;
    left: 13%;
    padding: 20px 43px;
    background: rgba(248, 205, 7, .7);
	width:216px;
	transition:1s;
	margin-bottom: 0;
    border-bottom: none;
}
.team_single:hover h3{
	transform:translateY(-205px);
}
.team_overlay{
	position:absolute;
	height:195px;
	width:216px;
	background:rgba(12, 237, 223, .4);
	bottom:20px;
	left:13%;
	opacity:0;
	transition:.7s;
}
.team_single:hover .team_overlay{
	opacity:1;
	
}
.team_overlay h4{
	font-size:18px;	
	color:#ffffff;
	text-align:center;
	padding-top:70px;	
}
.team_overlay i{
	text-align:center;
	font-size:18px;
	background:#ffffff;
	padding: 5px;
    margin-left: 20px;
}
.counter_content{
	padding-bottom:100px;
	text-align:center;
}
.counter{
	font-size:60px;
	color:#f3d111;
}
.counter_content h3{
	font-size:24px;
	color:#000000;
	border-bottom:none;
}
/* gallery section
=================== */
.gallery{
	background:#f5f5f5;
	padding-bottom:110px;
}

/* ---- isotope ---- */
.isotope-filters {
	display: table;
	margin: 0 auto;
	margin-bottom:65px;
}
.isotope-filters  button {
	border:none;
	margin: 2px; 
	line-height: 30px;
	padding: 0 20px;
	cursor: pointer;
	text-transform:uppercase;
	font-size:14px;
	color:#c0c0c0;
	background:none;
}
.isotope-filters  button:focus {
	outline: none;
	outline-style: none;
	outline-offset:0; 
}
.isotope-filters  button.active {
	background: #f3d110;
	color:#ffffff;
}
.isotope {
	max-width: 1200px;
}
/* clear fix */
.isotope:after {
	content: '';
	display: block;
	clear: both;
}
/* ---- .item ---- */
.isotope .item {
	position:relative;
	float: left;
	background: #0D8;
	border: 15px solid #f5f5f5;
	overflow:hidden;
}

.isotope .item img{
	width:100%;
	height:100%;
	transition:.7s;
}
.isotope .item:hover img{
	transform:scale(1.5);
}
.isotope_overlay{
	position:absolute;
	background:rgba(243, 209, 16, .7);
	width:100%;
	height:100%;
	opacity:0;
}
.isotope_overlay h2{
	color:#ffffff;
	font-size:25px;
	text-align:center;
	margin-left: 9%;
    margin-top: 100%;
}
.isotope_overlay i{
	color:#ffffff;
	font-size:25px;
	margin-left: 50%;
    padding-top: 5%;
}
.isotope_overlay .gallery-txt h2{
	color:#ffffff;
	font-size:25px;
	text-align:center;
	margin-left: 9%;
    margin-top: 40%;
}
.isotope_overlay .gallery-txt-w2-h2 h2{
	color:#ffffff;
	font-size:25px;
	text-align:center;
	margin-left: 9%;
    margin-top: 50%;
}
.isotope_overlay .gallery-txt-w2 h2{
	color:#ffffff;
	font-size:25px;
	text-align:center;
	margin-left: 9%;
    margin-top: 15%;
}
.isotope .item:hover .isotope_overlay{
	opacity:1;
	top:0;
}
/*  =========================
	Testimonial section 
	========================*/
.testimonial{
	background:url(../images/testo_1.jpg)no-repeat;
	background-position:center;
	background-size:cover;
}
.testimonial-overlay{
	background:rgba(0, 0, 0, .7);
}
.testimonial .section_heading{
	font-size:18px;
	padding-top:80px;
}
.testimonial .section_heading h2{
	color:#ffffff;
}
.testimonial-text h3{
	border-bottom:none;
}
.testimonial-content p{
	padding-bottom:80px;
	max-width:870px;
	padding-left:20%;
}

.testimonial-content{
	color:#ffffff;
}
.carousel-indicators{
	bottom:-28px;
}

.carousel-indicators li{
	width:30px;
	height:30px;
	border:1px solid #000000;
	border-radius:0;
	background-color:#ffffff;
	margin-left:30px;
}
.carousel-indicators .active {
    width: 30px;
    height: 30px;
	margin-left:30px;
    background-color: #f4d93f;
}

/*  =========================
		Blog section 
	========================*/
.blog{
	padding-bottom:165px;
}	
.blog-single-content{
	position:relative;
	margin:40px 0;
}
.blog-single-content img{
	width:70%;
	height:252px;
}
.blog-text{
	position:absolute;
	background:rgba(253, 253, 253,.7);
	width:70%;
	height:252px;
	top:30px;
	left:140px;
	border:1px solid #21A39C;
	
}
.blog-text h2, .blog-text p, .blog-text a{
	padding-left:30px;
}
.blog-text h2{
	font-size:18px;
	color:#21A39C;
	
}
.blog-text h3{
	font-size:14px;
	color:#21A39C;
	border-bottom:none;
	padding-bottom:0;
	margin-bottom:0;
	padding-left:30px;
}
.blog-text p{
	color:#000000;
	max-width:355px;
}
.blog-text a	{
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	color:#21A39C;
}
/*  =========================
		Footer section 
	========================*/
.footer{
	background:#f7f7f7;
	position:relative;
}

	/* Contact css */
.contact{
	padding-top:115px;
}
.contact-single{
	padding-right:10px;
}
.contact-single img{
	
}
.contact-single h2{
	padding-bottom:48px;
	font-size:24px;
	color:#000000;
	font-weight:bold;
}
.contact-single h4{
	font-size:17px;
}
.contact-single p{
	padding-bottom:30px;
	padding-left:0;
}
.contact-single ul{
	list-style:none;
}

	/* about-contact css */
.about-contact i{
	float:left;
	font-size:17px;
	padding-right:20px;
}
.about-contact h4{
	font-size:17px;
	line-height:24px;
}
	/* Usefull links css */

.contact-single li{
	border-bottom:1px dashed #e4e4e4;
	padding:10px 0;
}

.contact-single li a{
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	color:#4D4D4D;
	padding-left:20px;
}
.contact-single ul li{
	transition:.7s;
}
.contact-single ul li:hover{
	color:#000000;
	font-weight:bold;
	padding-left:25px;
	
}

	/* copyright css */
.copyright{
	height:140px;
}
.copyright p{
	font-size:15px;
	color:a0a0a0;
	padding-top:50px;
	
}
/* ScrollUp css */
.scroll-up{
	position:absolute;
	width:50px;
	height:50px;
	background:#f3d111;
	border-radius: 5px;
    margin-left: 1110px;
    bottom: 630px;
}
.scroll-up i{
	font-size:25px;
	color:#ffffff;
	font-weight:bold;
	padding-left: 20px;
    padding-top: 10px;
 
}
	
/* About-us page
================== */
/* Banner section
================== */
.banner{
	background:url(../images/about-banner.jpg)no-repeat;
	background-position:center;
	background-size:cover;
	
}
.about-us-text{
	padding-top:210px;
	padding-bottom:130px;
	
}
.about-us-text h2{
	max-width:630px;
	margin: auto;
	border:5px solid #ebebeb;
	text-transform:uppercase;
	text-align:center;
	font-size:100px;
	font-weight:semibold;
	color:#ffffff;
	padding:50px 60px 58px 40px;
	
}

/* About-content section
========================= */
.about-us-content{
	padding-top:85px;
	padding-bottom:80px;
}

.about-us-image img{
	width:100%;
	height:340px;
	padding-right:30px;

}
.about-carousel h2{
	font-size:36px;
	color:#000000;
	border-bottom:3px solid #f3d111;
	max-width:180px;
	margin-bottom:80px;
}
.about-carousel h3{
	font-size:24px;
	color:#000000;
	padding-left:0;
}
.about-carousel p{
	color:#404040;
	padding-left:0;
	padding-bottom:40px;
}
.about-carousel .btn {
    font-size: 16px;
    width: 140px;
    height: 40px;
    color: #ffffff;
    background: #f3d111;
	border-radius: 0;
}
.carousel-control {
	
	    /* text-shadow: none; */
    /* background-color: none; */
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev{
	top:90%;
 }
.about-carousel .carousel-control i {
    position: absolute;
    top: 90%;
    opacity: 1;
    color: #ffffff;
	padding: 10px;
}

.about-carousel .carousel-control.left i {
    left: 580px;
    background: #000000;
    width: 42px;
    height: 41px;
	}
.about-carousel .carousel-control.right i {
    background: #000000;
    width: 42px;
    height: 41px;
}
.about-carousel .carousel-control.left i:hover,
.about-carousel .carousel-control.right i:hover{
	background:#f3d111;
}

/* Portfolio page
======================= */

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background:transparent;
  border: none;
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #f3d111;
  color: #ffffff;
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 40px;
}

/* ---- isotope ---- */

/* ---- .element-item ---- */

.element-item {
  position: relative;
  /* float: left; */
  /* width: 50%; */
  color: #262524;
  border:5px solid #ffffff;
}

.element-item img{
width:100%;
}
.element-item a{
	padding-left:0;
}


/* Portfolio-Single page
============================ */

.portfolio-banner{
	background:url(../images/portfolio.jpg)no-repeat;
	background-position:center;
	background-size:cover;
	
}
.content-image img{
	width:100%;
}
.content-right h2{
	font-size:36px;
	font-weight:bold;
	margin-top:150px;
	padding-bottom:10px;
	border-bottom:3px solid #f3d111;
	max-width:445px;
}
.content-right p{
	padding-left:0;
	
}
.content-left{
	margin-top:150px;
}
.content-left h3{
	font-size:18px;
}
.content-left i{
	float:left;
	color:#f3d111;
	font-size:18px;
	padding-top:5px;
}

/* Service page
===================*/
.bg{
	background:#fdfdfd;
}

.service-content-right h2{
	font-size:32px;
	font-weight:bold;
	padding-bottom:10px;
	border-bottom:3px solid #f3d111;
	max-width:550px;
}
.service-content-right p{
	padding-left:0;
	padding-bottom:50px;
	padding-top:30px;
}
.service-content-right h3{
	font-size:18px;
	font-weight:bold;
}
.service-content-right i{
	float:left;
	color:#f3d111;
	font-size:18px;
	padding-top:5px;
}
.service-single-content{
	margin:80px 0;
	
}
.service-single{
	background:url(../images/service2.jpg)no-repeat;
	background-position:center;
	background-size:cover;
}
.service-overlay{
	background:rgba(0,0,0, .5);
}
.service-single h2{
	font-size:24px;
	color:#ffffff;
}
.service-single p{
	font-size:17px;
	color:#ffffff;
}
.service-single i{
	font-size:24px;
	color:#f3d111;
}
.border{
	border-bottom:2px solid #ffffff;
}
.service-each{
	border-right:2px solid #ffffff;
	padding-bottom:58px;
	padding-top:45px;
	padding-right:50px;
}
.border-none{
	border-right:0;
}
.service-que{
	background:#dddddd;
	
}
.service-que-txt{
	background:#ffffff;
	max-width:665px;
	height:320px;
	margin:120px 0;
	margin-left:250px;
	
}
.service-que-txt h2{
	font-size:24px;
	color:#000000;
	font-weight:bold;
	padding-bottom:30px;
	padding-top:54px;
	
}
.service-que-txt p{
	padding-left:0;
	padding-bottom:50px;
	max-width:405px;
	margin:0 auto;
	
}
.service-que-txt .btn{
	font-size:14px;
	color:#dddddd;
	border:none;
    border-radius: 0;
	background:#f3d111;
	max-width:170px;
	height:40px;
}

/* Contact Page
================= */
.contact-content{
	background:#f7f7f7;
}
#map {
    width: 100%;
    height: 900px;
}

.map-content{
	position:absolute;
	background:#ffffff;
	width:600px;
	height:120px;
	top:600px;
	left:40px;

}
.map-content .col-md-4{
	padding-top:15px;
}
.map-content i{
	float: left;
    color: #f3d111;
    font-size: 25px;
    padding-left: 12px;
    padding-top: 20px;
	
}
.map-content h4{
	font-size:20px;
	padding-left:45px;
}
.map-content h5{
	padding-left: 45px;
    font-size: 12px;
}
.contact-right{
	padding-left:200px ;
	padding-top:220px;
	padding-right:90px;
	
}
.contact-right h2{
	font-size:32px;
	color:#000000;
	font-weight:bold;
	border-bottom:2px solid #f3d111;
	max-width:175px;
	margin:0 auto;
	text-align:center;
	margin-bottom:70px;
}
.contact-right p, .contact-right h3{
	padding-left:0;
	margin-bottom:30px;
	border-bottom:2px solid #b6b6b6;
	padding-bottom:15px;
	color:#b6b6b6;
	font-size:16px;

}
.contact-right h3{
	margin-top:80px;
	
}
.contact-button{
	max-width: 165px;
	margin:0 auto;
	background: #f3d111;
}
.contact-right .btn {
    font-size: 14px;
    color: #ffffff;
	text-transform:uppercase;
    border: none;
    border-radius: 0;
	background: #f3d111;
    height: 40px;

}
/* Blog Page
==============*/
.blog-single img{
	width:100%;
}
.blog-each{
	background:#f7f7f7;
}
.blog-each a{
	padding-left:0;
}
.blog-single-text h3{
	padding-left: 0;
    padding-bottom: 15px;
	margin-bottom:0;
    border-bottom: none;
    color: #000000;
    font-size: 18px;
}
.blog-single-text h4{
    margin-top: 0;
    margin-bottom: 10px;
	font-size:14px;
}
.blog-single-text span{
	color:#C5C5C5;
}
.blog-single-text 
.btn-default {
	background-color: transparent;
    border-color:transparent;
}
.blog-single-text 
.btn-default:hover {
    color: #3FC7B1;
    background-color: transparent;
    border-color:transparent;
}
.blog-single-text .btn{
	 margin-bottom: 30px;
	touch-action: none;
}
.blog-single-text a{
	font-size:16px;
	color:#3FC7B1;
	font-weight:bold;
	
	
}
.blog-single-text a:hover{
	text-decoration:none;
}
.blog-single .col-md-6{
	padding-bottom:30px;
}
/* Blog single right
------------------------*/
.blog-single-right{
	background:#f7f7f7;
	padding-left:25px;
	padding-right:25px;
	padding-bottom:35px;
}
.blog-single-right h2{
	margin-top:0;
	margin-bottom:20px;
	font-size:24px;
	font-weight:bold;
	padding-top:30px;
}
.blog-single-right img{
	width:100%;
}
.blog-single-right h3{
	border-bottom:3px solid #000000;
	padding-left:15px;
	max-width:290px;
}
.blog-single-right 
.contact-single h2{
	padding-bottom:0;
}
.recent-posts  h3{
	padding-left: 0;
    padding-bottom: 15px;
	margin-bottom:0;
    border-bottom: none;
    color: #000000;
    font-size: 18px;
}
.recent-posts h4{
    margin-top: 0;
    margin-bottom: 10px;
	font-size:14px;
	border-bottom: 1px dashed #C5C5C5;
	padding-bottom: 15px;
}
.recent-posts span{
	color:#C5C5C5;
}
.recent-posts h5{
	padding-left: 0;
    padding-bottom: 15px;
	margin-bottom:0;
    border-bottom: 1px dashed #C5C5C5;
    color: #000000;
    font-size: 18px;
}
/* Calender 
--------------*/

/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #f3d111;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
	list-style:none;
	padding-top: 10px;
    text-align: center;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 37px;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #f3d111;
    color: white !important
}
/* Blog-Pagination
--------------------- */
.pagination>li>a{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: 10px;
    line-height: 1.42857143;
    color: #000000;
    text-decoration: none;
	border:none;
	background: #eee;
}
 .pagination>li>a:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #f3d111;
    border-color:none;
}

.pagination>li>span{
	border:none;
}
.pagination>li>span:hover{
	background-color:transparent;
}
.pagination>li>span{
	border:none;
}
.pagination>li:last-child>span{
	padding-left:20px;
}

/* Blog Single Page 
=======================*/
.blog-single-text h2{
	font-size:24px;
	
}
.blog-single-text p{
	padding-left:0;
}
.blog-single-text .tags{
	font-size:15px;
	font-weight:bold;
}

.blog-tag{
	overflow:hidden;
}
.blog-tag i{
	float:left;
	margin-top: 5px;
}
.blog-tag ul li{
	list-style:none;
	float:left;
	
}
.blog-tag ul li a{
	padding-left:10px;
	margin-right:20px;
	color:#575757;
}
.blog-tag ul li a:hover{
	text-decoration:none;
}

/* Media 
------------*/
.blog-single .media-left img{
	width:100%;
	height:100%;
}
.media{
	margin-top:40px;
}
.media-body p{
	padding-left:10px;
}
.media-body{
	border-bottom:1px solid #bcbcbc;
	width:540px;
	transition:.7s;
}
.media-body:hover{
	transform:translateX(70px);
}
.blog-media h2{
	margin-left:75px;
	font-size:20px;
	font-weight:bold;
}
.blog-media h4{
	margin-left:10px;
	font-size:18px;
	padding-top: 20px;
}
.media-bottom {
	padding-bottom: 30px;
}
.media-bottom i{
	float:right;
	margin-top: 5px;
}
.media-bottom  ul li{
	list-style:none;
	float:right;
	
}
.media-bottom ul li a{
	padding-left:10px;
	margin-right:20px;
	color:#575757;
}
.media-bottom ul li a:hover{
	text-decoration:none;
}
/* Comments */
.blog-comments{
	margin-top:50px;
}
.blog-comments h2{
	padding-left:0;
	font-size:20px;
	font-weight:bold;
}
.blog-comments p{
	font-size:15px;
	padding-left:0;
}
.comment-txtbox{
	padding-top:55px;
}
.comment-txtbox h6{
	font-size:14px;
	font-weight:bold;
}
.comment-txtbox textarea{
	margin-bottom:20px;
	height:150px;
}
.form-group {
    margin-bottom: 20px;
}

.blog-comments .btn-default {
    color: #ffffff;
    background-color: #343434;
    border-color: transparent;
}

.blog-comments .btn-default:focus, 
.blog-comments .btn-default:active, 
.blog-comments .btn-default:active:focus, 
.blog-comments .btn-default:active:hover ,
.blog-comments .btn-default:hover {
    color: #ffffff;
    background-color: #343434;
    border-color: #transparent;
}
.blog-comments .btn {
    display: inline-block;
    padding: 10px 35px;
    margin-bottom: 0;
	margin-top:50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: transparent;
    border-radius: 0;
}
.blog-color h3, 
.blog-color h5{
	color:#15c2aa;
	font-weight:bold;
}
.blog-color h4{
	font-weight:bold;
}
.blog-color .month,
.blog-color .days li .active, 
.blog-color .scroll-up{
	background:#15c2aa;
}


